/* Último bootstrap customizado:  https://gist.github.com/d44c03ec611ed5988604477376e61faa */

/* Títulos */

h1,
h2,
h3,
h4 {
	margin-bottom: 0;
}

h1 {
	letter-spacing: .02em;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 2.6em;
	line-height: 1.3em;
	font-weight: normal;
}

h2 {
	color: rgba(43, 43, 43,.7);
	margin-top: 10px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	font-style: italic;
}


h3 {
	color: #314150;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 3px 3px 1px rgba(43, 43, 43,.2);
	padding: 0 0 8px 0;
	margin-top: 0;
	font-size: 1.6em;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	margin: .2em 0 .2em 0;
}

/* Eliminando o placeholder */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* Buttons */

.btn-primary, 
.btn-success,
.btn-warning,
.btn-danger,
.btn-default {
	text-transform: uppercase;
}

.btn-danger {
	background-color: #c6353c;
	color: #fff;
}

.btn-primary, 
.btn-success,
.btn-warning,
.btn-danger {
	margin: auto 4px 4px 0;
	min-width: 140px;
}

.btn-success,
.btn-warning,
.btn-danger {
	box-shadow: .25em .25em 0 #ededed;
}

.btn-primary,
.body-btn {
	margin: auto 4px 4px 0;
	box-shadow: .25em .25em 0 #d8ebff;
}

.body-btn,
.btn-pagination {
	background-color: #fff;
	font-size: .9em;
	letter-spacing: .01em;
}

.body-btn:hover {
	background-color: #ededed;
	border: 1px solid #ededed;
}

.btn-pagination-active {
	background-color: transparent;
}

/* Form */

label {
	font-weight: 300;
}

.obg {
	color: rgba(298,53,60,.8);	
	font-size: .6em;
	position: relative;
  	bottom: 4px;
}

/* Elimina a padding das colunas bootstrap */

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

/* Navbar */

/* Ícones de redes sociais */
.navbar-default {
	border-bottom: 3px solid #83c2ff;
}

.search {
	float: none !important;
}

.navbar-nav, 
.search-input {
	font-size: .95em;
}

.search-input {
	display: inline;
	background-color: #4c647a;
	border: none;
	border-color: #4c647a;
	color: #f7f6f6;
	width: 100% !important;
	margin-right: 2px;
}

.search-input:focus {
	box-shadow: none;
}

.search-input::placeholder{
	color: #ededed;
}

.search-button,
.search-button:hover {
	background-color: #4c647a;
	color: #ededed !important;
	border-color: #4c647a;
	width: 100%;
}

.social-group {
	display: block;
	text-align: center;
}

.social-button {
	background-color: #fff;
	width: 35px;
	border-radius: 20px;
	text-align: center;
	padding: 5px 0 5px 0;
	box-shadow: .06em .1em 0 #3fa0fd;
	margin-left: 0;
	margin-right: 6px;
}

.social-button:hover {
	background-color: #d8ebff;
	border-color: #d8ebff;
}

.social-button::last-child{
	margin-right: 0;	
}

.facebook,
.facebook:hover {
	color: #3b5998;
}

.google-plus,
.google-plus:hover {
	color: #d84b37;
}

.twitter,
.twitter:hover {
	color: #4099ff;
}

.instagram,
.instagram:hover {
	color: #9b6954;
}

.logo {
	margin: 20px auto 40px auto;
}

.logo-box {
	margin: auto;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

.logo h2 {
	font-size: 100%;
	font-style: normal;
	color: #314150;
	text-align: center;
	font-weight: 400;
}

.ad {
	background-color: #ddd; 
	height: 90px;
	margin-top: 2.8%;
	margin-left: auto;
	margin-right: auto;
}

/* Carousel */

.carousel-container {
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 60px;
	display: none;
}

.carousel-img {
	max-height: 300px;
	overflow: hidden;
}

.carousel-inner {
	padding: 0 !important;
	margin: 0 !important;
}

.carousel-img img {
	margin-top: -15%;
}

.carousel-caption {
	text-align: left;
	left: 0;
	width: 100%;
	bottom: 0;
	padding-left: 15%;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.carousel-caption h2 {
	color: #fff;
}

.carousel-control i {
	position: relative;
	top: 38%;
}

.label {
	text-shadow: none;
	border-radius: none !important;
	text-transform: uppercase;
	padding: 4px;
	font-weight: bold;
	margin-left: 4px;
}

.label a {
	color: #fff;
}

.carousel-caption h1 {
	margin-top: 6px;
	color: #fff;
	margin-bottom: 0;
}

/* Posts */

.no-posts {
	text-align: center;
	font-size: 1.4em;
	color: rgba(43,43,43,.6);
	padding-top: 12px;
}

.home-post {
	box-shadow: 0 .25em 10px rgba(0,0,0,.2);
	margin-bottom: 30px !important;
	background-color: #fff; 
}

.home-post button {
	margin: 0 16px 16px 0;
}

.post-img {
	height: auto;
	max-height: 300px;
	overflow: hidden;
}

.post-img img {
	margin-top: -10%;
}

.post-text {
	padding: 1em;
	display: table-cell;
}

.post-text h1 {
	margin: 0;
}

.post-text button {
	margin-bottom: 2em;
}

.more-link span {
	display: none;
}

.more-link::before {
	content: '...';
}

/* pagination */

.pagination {
	margin-top: 0;
}

/* Sidebar */

.sidebar-block {
	margin: -6px 0 40px 0;
	font-weight: 300;
	color: #314150;
	width: 100%;
}

.sidebar-block p {
	font-size: 1em;
}
.mini-post {
	padding: 10px 5px 5px 10px;
	box-shadow: 0 .25em 10px rgba(0,0,0,.2);
	margin-bottom: 15px !important;
	background-color: #fff; 
}

.mini-post p {
	margin: 6px 0;
}

.mini-post-img {
	float: left;
	padding: 0 12px 2px 0;
}

.mini-post-img img {
	width: 80px;
	height: auto;
}

h4 {
	font-weight: 800;
}

.profile {
	overflow: hidden;
	margin-right: 2px;
	height: auto;
	padding: 0 6px 4px 0;
}

.profile img {
	border-radius: 60px;
	box-shadow: .06em .1em 0 #3fa0fd;
}

.media-body {
	padding-bottom: 2px;
	display: inline;
}

.media-body p {
	margin: 4px 0;
}

/*  Footer */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 12rem;
	min-height: 100%;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0rem;
	background-color: #efefef;
	text-align: center;
}

footer .well {
	margin-bottom: 0;
	border: none;
	border-top: 1px solid #b6d9fe;
	color: rgba(0,0,0,.65);
}

footer .well p {
	margin-bottom: 0;
}

.footer-content {
	text-align: center;
}

/* Media Queries */

@media (min-width: 500px){
	.logo-box {
		max-width: 70%;
	}
}

@media (min-width: 768px){

	/* Menu hover */

	.dropdown:hover {
		background-color: #4c647a;
	}

	.dropdown:hover ul {
		display: block;
	}

	.dropdown-menu {
		border: 0;
		box-shadow: 0;
		top: 100%;
		border-top: 3px solid #83c2ff;
		border-bottom: 3px solid #83c2ff;
		padding: 0;
	}
	
	.dropdown-menu li {
		width: 100%;
		border-bottom: 1px solid #ededed;
	}
	
	.dropdown-menu li a {
		line-height: 2em;
		width: 100%;
		color: #314150;
	}

	/* Search */

	.search {
		float: left !important;
	}

	.search-input {
		max-width: 90px;
	}

	.social-group {
		display: inline;
	}

	/* Logo */

	.mdb-logo,
	.logo-box {
		max-width: auto;
		padding-left: 0 !important;
	}

	/* Carousel */

	.carousel-container {
		display: block;
	}

	/* Footer */

	.footer-content {
		text-align: left;
	}

	.footer-pull-right {
		float: right !important;
	}
}

@media (min-width: 830px){

	.search-input {
		max-width: 162px;
	}
}

@media (min-width: 930px){
	.carousel-img {
		max-height: 400px;
	}
}

@media (min-width: 992px){
	.logo-box {
		margin-left: 0;
	}
}

@media (min-width: 1008px){
	.search-input {
		max-width: none;
	}
}