/* Último bootstrap customizado:  https://gist.github.com/d44c03ec611ed5988604477376e61faa */

/* Títulos */

h1 {
	letter-spacing: .02em;
}

h2 {
	color: rgba(43, 43, 43,.7);
	margin-top: 10px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	font-style: italic;
}

/* Navbar */

/* Ícones de redes sociais */
.navbar-default {
	border-bottom: 3px solid #83c2ff;
}

.navbar-nav, 
.search-input {
	font-size: .95em;
}
.mdb-search {
	margin: auto !important;
}

.search-input {
	background-color: #4c647a;
	border: none;
	border-color: #4c647a;
	color: #f7f6f6;
}

.search-input::placeholder{
	color: #ededed;
}

.search-button,
.search-button:hover {
	background-color: #4c647a;
	color: #ededed !important;
	border-color: #4c647a;
}

.social-button {
	background-color: #fff;
	width: 35px;
	border-radius: 20px;
	text-align: center;
	padding: 5px 0 5px 0;
	box-shadow: .06em .1em 0 #3fa0fd;
	margin-left: 3px;
	margin-right: 3px;
}

.social-button:hover {
	background-color: #f7f6f6;
}

.social-button::last-child{
	margin-right: 0;	
}

.facebook {
	color: #3b5998;
}

.gplus {
	color: #d84b37;
}

.instagram {
	color: #9b6954;
}

.logo {
	margin: 20px auto 40px auto;
}

/* Carousel */

.carousel-container {
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 60px;
	display: none;
}

.carousel-img {
	max-height: 300px;
	overflow: hidden;
}

.carousel-inner {
	padding: 0 !important;
	margin: 0 !important;
}

.carousel-img img {
	margin-bottom: 50%;
}

.carousel-caption {
	text-align: left;
	left: 0;
	width: 100%;
	bottom: 0;
	padding-left: 15%;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.label {
	text-shadow: none;
	border-radius: none !important;
	text-transform: uppercase;
	padding: 4px;
	font-weight: bold;
}

.carousel-caption h1 {
	text-shadow: 0 !important;
	margin-top: 6px;
}

/* Posts */

.no-posts {
	text-align: center;
	font-size: 1.4em;
	color: rgba(43,43,43,.6);
	padding-top: 12px;
}

.home-post {
	box-shadow: 0 .25em 10px rgba(0,0,0,.2);
	margin-bottom: 30px !important;
	background-color: #fff; 
}

.post-img {
	height: 300px;
	overflow: hidden;
}

.post-text {
	padding: 1em;
}

.post-text h1 {
	margin: 0;
}

.post-text button {
	margin-bottom: 2em;
}

.body-btn {
	box-shadow: .25em .25em 0 #d8ebff;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 800;
	font-size: .9em;
	letter-spacing: .01em;
	text-transform: uppercase;
}

.body-btn:hover {
	background-color: #ededed;
	border: 1px solid #ededed;
}

/* pagination */

.pagination {
	margin-top: 0;
}

/* Sidebar */

.sidebar-block {
	margin: 0 0 40px 0;
	font-weight: 300;
	color: #314150;
	width: 100%;
}

h3 {
	color: #314150;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 3px 3px 1px rgba(43, 43, 43,.2);
	padding: 0 0 8px 0;
	margin-top: 0;
}

.mini-post {
	padding: 10px 5px 5px 10px;
	box-shadow: 0 .25em 10px rgba(0,0,0,.2);
	margin-bottom: 15px !important;
	background-color: #fff; 
}

.mini-post-img {
	float: left;
	padding: 0 12px 2px 0;
}

.mini-post-img img {
	width: 80px;
}

h4 {
	font-weight: 800;
}

.profile {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 60px;
	padding: 0 12px 2px 0;
	box-shadow: .06em .1em 0 #3fa0fd;
	margin-right: 16px;
}

.profile img {
	height: 120%;
	width: auto;
}

.media-body {
	padding-bottom: 2px;
}

.sidebar-block .body-btn {
	background-color: #fff;
	display: block;
	margin: auto 6px 6px 0;
}


/*  Footer */

footer .well {
	margin: 10px 0;
	border: none;
	border-top: 1px solid #b6d9fe;
	color: rgba(0,0,0,.65);
}

footer .well p {
	margin-bottom: 0;
}

.footer-content {
	text-align: center;
}

.footer-pull-right {
	float: center !important;
}

footer .social-button,
footer .social-button:hover {
	background-color: #fff !important;
}

/* Media Queries */

@media (min-width: 500px){
	.mdb-logo {
		max-width: 70%;
	}
}

@media (min-width: 768px){

	.search-input {
		max-width: 132px;
	}
	.mdb-logo {
		max-width: auto;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}

	.carousel-container {
		display: block;
	}

	/* Footer */

	.footer-content {
		text-align: left;
	}

	.footer-pull-right {
		float: right !important;
	}
}

@media (min-width: 815px){

	.search-input {
		max-width: inherit;
	}

	.mdb-search {
		padding: 0 15px 0 15px;
	}
}

@media (min-width: 930px){
	.carousel-img {
		max-height: 400px;
	}
}

/*** Estilo da single-page ***/

.single-post-img {
	max-height: 400px;
	overflow: hidden;
	margin-bottom: 15px;
	width: 100%;
	padding:  0;
}

.single-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.single-social {
	float: left;
	padding-left: 5px;
}

.single-social .social-button {
	margin-bottom: 16px;
	padding-left: 0;
}

.single-post {
	margin-bottom: 60px;
}

.single-post h1 {
	margin-top: 2px;
}

.single-post p {
	line-height: 30px;
}

.single-post figure {
	margin: 26px 0 26px 0;
	box-sizing: border-box;
	border: 3px solid #ededed;
}

.single-post figure figcaption {
	font-size: .9em;
	font-style: italic;
	background: #ededed;
	padding: .8em;
	width: 100%;
}

.post-info {
	text-transform: uppercase;
	font-weight: 300;
	font-size: .9em;
	margin-top: 16px;
}

.post-tags {
	margin-bottom: 32px;
}

.post-info .fa {
	letter-spacing: 3px;
}

.post-info span {
	display: inline-block;
	padding-right: 16px;
}

.single-block {
	margin-bottom: 40px;
}

.single-about {
	background-color: #314150;
	padding: 16px;
	border-bottom: 3px solid #3fa0fd;
}

.single-about h3 {
	color: #fff;
	text-shadow: 3px 3px 1px rgba(247, 246, 246,.2);
}

.single-about p {
	color: #fff;
}

.single-related {
	background-color: #fff;
	box-shadow: 0 .25em 10px rgba(0,0,0,.2);
	padding: 16px 16px 0 16px;
}

.single-related .media-list {
	margin-bottom: 0;
}

.single-related .mini-post {
	width: 46%;
	height: 105px;
	display: inline-block;
	background: none;
	box-shadow: none;
	margin: 0 36px 24px 0;
	padding: 0;
}

.single-related .mini-post:nth-child(2n) {
	margin-right: 0;
}

.comment li,
.comment>li>ul>li {
	list-style: none;
}

.comment {
	padding-left: 0;
}

.single-comments .profile{
	margin-bottom: auto;
}

.comment-body {
	font-weight: 300;
	display: table-cell;
	padding-bottom: 30px;
}

.comment-options {
	margin-top: 10px;
	padding: 2px 0;
	width: auto;
	border-top: 2px solid #ededed;
}

.comment-options span {
	padding-right: 8px;
	cursor: pointer;
}

.comment-options::last-child {
	padding-right: 0;
}
.comment-up {
	color: #3bda74;
}

.comment-up:hover {
	color: rgba(59,218,116,.6);
}

.comment-down {
	color: #c6353c;
}

.comment-down:hover {
	color: rgba(198,53,60,.6);
}

.single-comments .form-group textarea {
	margin-bottom: 8px;
}

.single-comments .form-group .btn-default {
	background-color: #fff;
	display: block;
	margin: auto 6px 6px 0;
	box-shadow: .25em .25em 0 #d8ebff;
	min-width: 140px;
	background-color: #fff;
}

.single-commments .form-group .btn-default:hover {
	background-color: #fff;
	border: 1px solid #fff;
}


@media (min-width: 992px){
	.sidebar-block {
		margin-top: .8em;
	}
}